.container {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #121212;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
}

.heading {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: white;
}

.listContainer {
  background: #1c1c1c;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  font-size: 1.1rem;
}

.strike-through {
  text-decoration: line-through;
  color: gray;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-complete {
  background-color: #4caf50;
  color: white;
}

.btn-undo {
  background-color: #f1c40f;
  color: black;
}

.bg-red {
  background-color: crimson;
  color: white;
}

.empty {
  text-align: center;
  color: #888;
  margin-top: 2rem;
}
