.counter-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: '5px';
}

.counter-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.counter-value {
    margin: 0 20px;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}